@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/inter/Inter-Black.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url("/inter/Inter-Light.ttf") format("ttf");
  font-weight: light;
}

@font-face {
  font-family: "Inter";
  src: url("/inter/Inter-Regular.ttf") format("ttf");
}

a {
  @apply text-purple-600 dark:text-purple-400;
}

.hashtag {
  @apply mt-1 inline-block font-mono font-semibold text-purple-600 dark:text-purple-400;
}
